/bin
VulkanEngine.VC.db
VulkanEngine.VC.VC.opendb
/.vs
git_config.txt
renderdoc.cap
*/MakeFile
*/.idea/
*/CMakeCache.txt
*/CMakeFiles/
*/cmake_install.cmake
*/Makefile

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

