[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/ViennaEntityComponentSystem"]
	path = extern/ViennaEntityComponentSystem
	url = https://github.com/hlavacs/ViennaEntityComponentSystem.git
[submodule "extern/tinygltf"]
	path = extern/tinygltf
	url = https://github.com/syoyo/tinygltf.git
