/bin
VulkanEngine.VC.db
VulkanEngine.VC.VC.opendb
/.vs
git_config.txt
renderdoc.cap
*/MakeFile
*/.idea/
*/CMakeCache.txt
*/CMakeFiles/
*/cmake_install.cmake
*/Makefile
*/vulkanengine.dir
*/CMakeFiles
*/simplegame.dir
*/*.vcxproj
*/*.filters
*/*.user
*/x64
bin/Debug/*
bin/Release/*
lib/Debug/*
lib/Release/*



